<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>MyPresentLists_Client</display-name>
  
   <!-- FILTERS DECLARATIONS -->
	<filter>
		<filter-name>AuthenticateFilter</filter-name>
		<filter-class>be.walbert.Filters.AuthenticateFilter</filter-class>
	</filter>
	<filter>
		<filter-name>AlreadyAuthenticateFilter</filter-name>
		<filter-class>be.walbert.Filters.AlreadyAuthenticateFilter</filter-class>
	</filter>
  <!-- FILTERS MAPPINGS -->
  <filter-mapping>
  	<filter-name>AuthenticateFilter</filter-name>
  	<servlet-name>UserPage</servlet-name>
  	<servlet-name>CreatePresents_List</servlet-name>
  	<servlet-name>Get_Presents_List</servlet-name>
  	<servlet-name>Get_Details_of_PresentsList</servlet-name>
  	<servlet-name>CreatePresent</servlet-name>
  	<servlet-name>UpdatePresent</servlet-name>
  	<servlet-name>UpdatePresentsList</servlet-name>
  	<servlet-name>AddGuests</servlet-name>
  	<servlet-name>Get_Guest_Lists</servlet-name>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>AlreadyAuthenticateFilter</filter-name>
  	<servlet-name>HomePage</servlet-name>
  	<servlet-name>Login</servlet-name>
  	<servlet-name>Signin</servlet-name>
  </filter-mapping>
  
    <!-- WELCOME PAGE -->
  <welcome-file-list>
    <welcome-file>HomePage</welcome-file>
  </welcome-file-list>
  
    <!-- ERROR(S) PAGE(S) -->
  <error-page>
   	<error-code>404</error-code>
	<location>/WEB-INF/Error.jsp</location>
  </error-page>
  
   <!-- SESSION CONFIG -->
  <session-config>
  	<session-timeout>60</session-timeout>
  </session-config>
  
     <!-- SERVLETS DECLARATIONS -->
  <servlet>
  	<servlet-name>HomePage</servlet-name>
  	<servlet-class>be.walbert.servlets.HomePage</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>Login</servlet-name>
  	<servlet-class>be.walbert.servlets.Login</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>Signin</servlet-name>
  	<servlet-class>be.walbert.servlets.Signin</servlet-class>
  </servlet>
  
   <servlet>
  	<servlet-name>UserPage</servlet-name>
  	<servlet-class>be.walbert.servlets.UserPage</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>CreatePresents_List</servlet-name>
  	<servlet-class>be.walbert.servlets.CreatePresents_List</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>Get_Presents_List</servlet-name>
  	<servlet-class>be.walbert.servlets.Get_Presents_List</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>Get_Details_of_PresentsList</servlet-name>
  	<servlet-class>be.walbert.servlets.Get_Details_of_PresentsList</servlet-class>
  </servlet>
    
  <servlet>
  	<servlet-name>CreatePresent</servlet-name>
  	<servlet-class>be.walbert.servlets.CreatePresent</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>UpdatePresent</servlet-name>
  	<servlet-class>be.walbert.servlets.UpdatePresent</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>UpdatePresentsList</servlet-name>
  	<servlet-class>be.walbert.servlets.UpdatePresentsList</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>AddGuests</servlet-name>
  	<servlet-class>be.walbert.servlets.AddGuests</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>Get_Guest_Lists</servlet-name>
  	<servlet-class>be.walbert.servlets.Get_Guest_Lists</servlet-class>
  </servlet>
    
  <!-- SERVLETS MAPPINGS -->
  <servlet-mapping>
  	<servlet-name>HomePage</servlet-name>
  	<url-pattern>/HomePage</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/Login</url-pattern>
  </servlet-mapping>
 <servlet-mapping>
  	<servlet-name>Signin</servlet-name>
  	<url-pattern>/Signin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserPage</servlet-name>
  	<url-pattern>/UserPage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CreatePresents_List</servlet-name>
  	<url-pattern>/CreatePresents_List</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Get_Presents_List</servlet-name>
  	<url-pattern>/Get_Presents_List</url-pattern> 
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Get_Details_of_PresentsList</servlet-name>
  	<url-pattern>/Get_Details_of_PresentsList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CreatePresent</servlet-name>
  	<url-pattern>/CreatePresent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdatePresent</servlet-name>
  	<url-pattern>/UpdatePresent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdatePresentsList</servlet-name>
  	<url-pattern>/UpdatePresentsList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddGuests</servlet-name>
  	<url-pattern>/AddGuests</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
  	<servlet-name>Get_Guest_Lists</servlet-name>
  	<url-pattern>/Get_Guest_Lists</url-pattern>
  </servlet-mapping>
  
</web-app>