<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>MyPresentLists_Client</display-name>

  <welcome-file-list>
    <welcome-file>HomePage</welcome-file>
  </welcome-file-list>
  
   <error-page>
	<location>/WEB-INF/Error.jsp</location>
   </error-page>
   
  <servlet>
  	<servlet-name>HomePage</servlet-name>
  	<servlet-class>be.walbert.servlets.HomePage</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>Login</servlet-name>
  	<servlet-class>be.walbert.servlets.Login</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>Signin</servlet-name>
  	<servlet-class>be.walbert.servlets.Signin</servlet-class>
  </servlet>
  
  
  <servlet-mapping>
  	<servlet-name>HomePage</servlet-name>
  	<url-pattern>/HomePage</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/Login</url-pattern>
  </servlet-mapping>
 <servlet-mapping>
  	<servlet-name>Signin</servlet-name>
  	<url-pattern>/Signin</url-pattern>
  </servlet-mapping>
   
</web-app>